:root {
  --cousinfontSize: 120px;
  --cousinlineHeight: 1.2;
}
@font-face{
  font-family: FreeSans;
  src: url('freeSans-20120503-woff/FreeSans.woff');
}
.cous-paragraph{
  font-family: FreeSans;
  font-size: var(--cousinfontSize);
}
.cous-letter{
  display:inline-block;
/*  cursor:default;*/
  font-size: 1em;
  line-height: 1.2;
  width: fit-content;
  height: calc(1em * 1.2);
  padding: 0;
  overflow-y: scroll;
  vertical-align: top;
}

.cous-letter .options{
  display: block;
  height: 100%;
  padding: 0;
  text-align: center;
}

.space .options{
  width: 0.5em;
  border-bottom: 0px;
}