:root {
  --fontSize: 120px;
}
@font-face{
  font-family: FreeMono;
  src: url('../ASSETS/freeMono-20120503-woff/FreeMonoBold.woff');
}
body{
  font-family: FreeMono;
  margin: 8px;
}
#typeArea{
  display: inline-flex;
  flex-wrap: wrap;
}
#holdArea{
  display: inline-block;
  background-color: #00ff00;
} 
li{
  list-style-type: none;
}

.flip-card, .flip-card-inner, .flip-card-front, .flip-card-back{
  width: 60px;
  height: 100px;
}

.flip-card {
  background-color: transparent;
  perspective: 100px;
  margin: 0 5px 5px 0;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  font-size:100px;
  line-height: 1;
}

.flip-card-back {
 transform: rotateX(180deg);
}