:root{
	--font-size:200px;
}
*{
	margin:0;
	padding:0;
}
body{
	height:200vh;
}

#keyboardCont, .key{
	font-family: Helvetica Neue,Helvetica,arial,sans-serif;
	-webkit-font-smoothing: antialiased;
}
#keyboardCont{
	width:100vw;
	position:fixed;
	bottom:0;
	background-color: #f0f0f0;
	z-index:10000;
}
.row{
	width:100vw;
	display:grid;
	font-size: max(12pt, 3vw);
}
#row1{ grid-template-columns: repeat(10, 10vw); }
#row2{ grid-template-columns: repeat(9, 10vw); }
#row3{ grid-template-columns: repeat(7, 10vw); }

#row2, #row3{
	width:fit-content;
	margin:0 auto;
}

.keyCont{
	font-size: 1em;
	padding:0.2em;
/*	padding:4px;*/

}


.key{
	font-size: 1em;
/*	text-align: center;*/
	padding-top:0.25em;
	padding-bottom:0.25em;
	width:100%;
	min-width: 100%;
	max-width: 10vw;
	
}
