:root {
  --fontSize: 100px;
  --lineHeight: 1.25;
}
@font-face{
  font-family: FreeSans;
  src: url('../ASSETS/freeSans-20120503-woff/FreeSans.woff');
}
body{
  font-family: FreeSans;
  margin: 8px;
}
#typeArea{
  display: inline-flex;
  flex-wrap: wrap;
}
.letter{
  line-height: var(--lineHeight);
  width: fit-content;
  height: calc(var(--fontSize)*var(--lineHeight));
  padding: 0;
  font-size: var(--fontSize);
  overflow-y: scroll;
}
.options{
  height: 100%;
  padding: 0;
  text-align: center;
}
.space{
  width: calc(var(--fontSize)*0.5);
}