:root {
  --fontSize: 120px;
}
@font-face{
  font-family: FreeMono;
  src: url('../ASSETS/freeMono-20120503-woff/FreeMonoBold.woff');
}
body{
  font-family: FreeMono;
  margin: 8px;
}
/*#typeArea{
  display: inline-flex;
  flex-wrap: wrap;
}*/
#holdArea{
  display: inline-block;
  background-color: #00ff00;
} 
button{
  background-color: #00ff00;
}
.btn-success{
  background-color: #00ff00;
}
.btn-danger{
  background-color: #ff0000;
}