:root{
	--size: 200px;
}
#typeArea{
	display: inline-flex;
	flex-wrap: wrap;
}
.letterCont{
	position:relative;
	width:fit-content;
	overflow:hidden;
}
.width-set-img{
/*	display: block;*/
	height:var(--size);
	width:auto;
	visibility:hidden;
	opacity:0;
}
video{
	display: block;
	height:var(--size);
  	width:auto;
}
.video1{
	position:absolute;
	top:0;
	left: 50%;
	-webkit-transform: translateX(-50%) scaleX(-1);
	transform: translateX(-50%) scaleX(-1);
}
.video2{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.maskCont{
/*	display:block;*/
	position:absolute;
	top:0;
	width:fit-content;
	overflow:hidden;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.mask{
	-webkit-mask-size: auto var(--size);
 	mask-size: auto var(--size);
 	-webkit-mask-position: center;
 	mask-position: center; 
 	-webkit-mask-repeat:no-repeat;
 	mask-repeat:no-repeat;
}